.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  transition: opacity 0.5s linear, visibility 0s linear 0.5s;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-height: 80vh;
  border-radius: 8px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/closebtn.svg);
  border: none;
  background-color: transparent;
  color: #212121;
  opacity: 40%;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background-image: url(../images/closeIcon.svg);
  position: absolute;
  top: 0;
  right: -52px;
  opacity: 100%;
  cursor: pointer;
  z-index: 2;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  width: 169px;
  height: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  height: 78px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  opacity: 70%;
  color: #212121;
}

.modal__input {
  padding: 16px 12px;
  height: 52px;
  border-width: 1px;
  border-radius: 8px;
  border-color: #212121;
  opacity: 40%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
}

.modal__input:hover {
  opacity: 100%;
}

.modal__error {
  display: block;
  color: #ff0000;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.modal__caption {
  height: 32px;
  margin: 0;
  padding: 4px 8px;
  background-color: #212121;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 16px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_type_preview {
    width: 288px;
    padding: 0;
    max-width: 100%;
  }

  .modal__image {
    width: 288px;
    border-radius: 4px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
    padding: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
